<% if user_signed_in? %>
  <%= turbo_frame_tag "#{dom_id(book)}_vote_button" do %>
    <% unless book.votes.exists?(user: current_user) %>
      <%= button_to book_votes_path(book), class: "btn btn-white !flex-col" do %>
        <%= icon "arrow-up", classes: "size-3" %>
        <span><%= book.votes.size %></span>
      <% end %>
    <% else %>
      <button class="btn btn-white !flex-col disabled:opacity-70 disabled:pointer-events-none disabled:bg-gray-100 disabled:shadow-none" disabled>
        <%= icon "arrow-up", classes: "size-3" %>
        <span><%= book.votes.size %></span>
      </button>
    <% end %>
  <% end %>
<% else %>

  <%= link_to new_user_session_path, class: "btn btn-white !flex-col" do %>
    <%= icon "arrow-up", classes: "size-3" %>
    <span><%= book.votes.size %></span>
  <% end %>
<% end %>
